.App{
    height: 100vh;
    padding-top:10px;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.freecodecamp-logo-contenedor{
    width:100%;
    height: 20px;
    margin:0;
    display:flex;
    align-items: center;
    justify-content:center;
}

.freecodecamp-logo{
    height: 20px;
}

.contenedor-calculadora{
    width:400px;
    height:600px;
    padding:14;
    background-color:#99c9ff;
    border-radius:20px;
    border:5px solid white;
}

.fila{
    margin:4px;
    display:flex;
    align-items:center;
    justify-content: center;

}
